@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.darkish {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
